
<div class="hero-unit">


<h1>Welcome To Michael's Webpage!</h1>
<div class="row">
  <div class="span4">

<h2>
  	 Navigation Bar</div>
  </h2>


  <div class="span8">


<p><h1>
You've found the very first website ever created by <%=link_to "Michael Hollander", "http://queenbeetickets.com/content/uploaded/about-paul-mccartney.jpg" %> . Get ready to be amazed...
</h1>

</p>

  </div>
</div>



<!-- <ul class="sections row-fluid"> -->
	<!-- <li class="span3">Section 1</li> -->
	<!-- <li class="span3">Section 2</li> -->
	<!-- <li class="span3">Section 3</li> -->
	<!-- <li class="span3">Section 4</li> -->




<a href= "http://awesomepeople.com.ua/wp-content/uploads/2013/02/John-Lennon_4.jpg"<button class="btn btn-large btn-success">Check Out John here!</button></a>
<a href="http://johnmurrill.com/wp-content/uploads/2013/02/George-Harrison1.jpg"<button class="btn btn-large btn-warning">And George!</button></a>

</div>